{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{#post}}

<main id="site-main">
  <div class="container">
    <div class="inner">
      <article>
        <header class="post-header">
          <h1 class="post-title">{{title}}</h1>
        </header>

        <section class="post-content">
          {{content}}

          {{> "membership-plans" include-free="true"}}

          {{^if @member}}
          <div class="membership-footer">
            <small>{{t "Already have an account?"}} <a href="{{@site.url}}/signin/">{{t "Sign in"}}</a></small>
          </div>
          {{/if}}          
        </section>
      </article>
    </div>
  </div>
</main>

{{/post}}
